.my-carousel-title-wrapper {
  position: absolute;
  top: 40px;
  left: 40px;
}

.my-carousel-title {
  background: rgba(2, 121, 51, 0.6);
  text-transform: uppercase;
  font-weight: 800;
  color: white;
  font-size: 2em; /* Réduit la taille de la police */
}

@media (min-width: 768px) {
  .my-carousel-title-wrapper {
    bottom: 80px;
    left: 80px;
    top: auto;
    width: 60%;
  }
  .my-carousel-title {
    font-weight: 600;
    font-size: 3em; /* Ajuste la taille pour les écrans plus grands */
  }
}

.my-carousel-title-inner {
  display: -webkit-box; /* Pour Safari */
  display: box;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2; /* Nombre de lignes à afficher */
  line-clamp: 2; /* Nombre de lignes à afficher */
  max-height: 4em; /* Ajusté pour permettre deux lignes */
  font-size: 1.5rem; /* Taille de police par défaut */
}

/* Styles responsive pour mobile */
@media (max-width: 600px) {
  .my-carousel-title-inner {
    font-size: 1rem; /* Réduit la taille de police sur mobile */
    max-height: 4em; /* Ajustez pour deux lignes */
  }
}
@media (max-width: 576px) {
  .carousel-image {
    height: 250px; /* Ou toute autre hauteur souhaitée */
    object-fit: cover; /* Ajuste l'image pour qu'elle couvre tout l'espace */
    width: 100%; /* Assurez-vous que l'image prend toute la largeur */
  }
}

.my-carousel-title-inner {
  display: -webkit-box; /* Pour Safari */
  display: box;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2; /* Nombre de lignes à afficher */
  line-clamp: 2; /* Nombre de lignes à afficher */
  max-height: 4em; /* Ajusté pour permettre deux lignes */
  font-size: 1.5rem; /* Taille de police par défaut */
}
